# For ES Lab
Lab Codes/Sem 4/ES/Lab */1/*
!Lab Codes/Sem 4/ES/Lab */1/**/*.s
!Lab Codes/Sem 4/ES/Lab */1/**/*.uvprojx
!Lab Codes/Sem 4/ES/Lab */1/**/*.uvproj
!Lab Codes/Sem 4/ES/Lab */1/**/*.pdf

Lab\ Files/
**/.vscode/
**/.vs/

# NPS Lab
./Lab Codes/Sem 4/NPS/*
!./Lab Codes/Sem 4/NPS/**/*.c
!./Lab Codes/Sem 4/NPS/*.pdf